/* font-family: 'Oxanium', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #001122;
}

.clear {
    clear: both;
}

#separator {
    width: 100%;
    height: 200px;
}

header {
    background-color: #060e15;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h1 {
    color: whitesmoke;
    font-size: 4rem;
    font-family: 'Oxanium', cursive;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Oxanium', cursive;
}

nav a:hover {
	color: #fff;
	padding: 16px 50px;
	font-size: 2em;
    font-family: 'Oxanium', cursive;
	line-height: auto;
	transition: 0.3s ease-out;
	text-shadow: 0 0 10px, 0 0 20px;
	letter-spacing: 2px;
}

.container {
	display: flex;
	width: 80vw;
    margin: 3% auto;
}

.panel {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 40vh;
	border-radius: 200px;
	flex: 0.5;
	position: relative;
	transition: flex 0.5s ease-out;
	color: #fff;
	cursor: pointer;
	margin: 8px;
}

.panel h3 {
	position: absolute;
	bottom: 24px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 2px;
	opacity: 0;
}

.panel.active {
	flex: 5;
	border-radius: 32px;
}

.panel.active h3 {
	opacity: 1;
	transition: opacity 0.5s ease-out;
}

#h2Left {
    color: whitesmoke;
    font-family: 'Oxanium', cursive;
    font-size: 3rem;
    border-top: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 10%;
    padding: 1%;
}

#ourSkills {
    /* background-color: red; */
    max-width: 80%;
    margin: 0 auto;
}

#cardSkills {
    display: flex;
    justify-content: space-evenly;
    margin: 3% auto;
}

.box {
	display: flex;
    flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	width: 300px;
	height: 400px;
	background: #00000075;
	overflow: hidden;
	border-radius: 20px;
}

.box::before {
	content: "";
	position: absolute;
	width: 500px;
	height: 500px;
	background-image: conic-gradient(
		transparent,
		transparent,
		transparent,
		#00ccff
	);
	animation: animate 4s linear infinite;
}

.box::after {
	content: "";
	position: absolute;
	width: 500px;
	height: 500px;
	background-image: conic-gradient(
		transparent,
		transparent,
		transparent,
		#20ffa9
	);
	animation: animate 4s linear infinite;
	animation-delay: -2s;
}

.box span {
	position: absolute;
	inset: 5px;
	border-radius: 16px;
	background: #001122;
	z-index: 1;
}

.box h2 {
	z-index: 2;
	color: #fff;
	font-family: 'Oxanium', cursive;
	font-size: 3rem;
	font-weight: 300;
}

.box h3 {
    z-index: 3;
    color: whitesmoke;
    font-family: 'Oxanium', cursive;
    font-size: 1.5rem;
    width: 90%;
    text-align: center;
}

@keyframes animate {
	to {
		transform: rotate(360deg);
	}
}

#h2Right {
    color: whitesmoke;
    font-family: 'Oxanium', cursive;
    font-size: 3rem;
    border-top: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 14%;
    padding: 1%;
    float: right;
}

#zonePresentation {
    display: flex;
}

.material {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	transform: rotateZ(-20deg);
}

@keyframes rotate {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(360deg);
	}
}

.dna {/*line*/
	position: relative;
	width: 1px;
	height: 100px;
	border: 1px dotted #e7e7e7;
	box-shadow: 0 0 15px #e7e7e7;
	background: transparent;
	margin: 0px 10px;
	animation: rotate 3s linear infinite;
}
.dna::before {/*top dot*/
	content: '';
	position: absolute;
	top: -2px;
	left: -5px;
	width: 10px;
	height: 10px;
	background: #1cffb3;
	border-radius: 50%;
	box-shadow: 0 0 15px #1cffb3;
}
.dna::after {/*bottom dot*/
	content: '';
	position: absolute;
	bottom: -2px;
	left: -5px;
	width: 10px;
	height: 10px;
	background: #0ff;
	border-radius: 50%;
	box-shadow: 0 0 12px #0ff;
}

.dna:nth-child(1) {
  animation-delay: -0.15s;
}
.dna:nth-child(2) {
  animation-delay: -0.3s;
}
.dna:nth-child(3) {
  animation-delay: -0.45s;
}
.dna:nth-child(4) {
  animation-delay: -0.6s;
}
.dna:nth-child(5) {
  animation-delay: -0.75s;
}
.dna:nth-child(6) {
  animation-delay: -0.9s;
}
.dna:nth-child(7) {
  animation-delay: -1.05s;
}
.dna:nth-child(8) {
  animation-delay: -1.2s;
}
.dna:nth-child(9) {
  animation-delay: -1.35s;
}
.dna:nth-child(10) {
  animation-delay: -1.5s;
}
.dna:nth-child(11) {
  animation-delay: -1.65s;
}
.dna:nth-child(12) {
  animation-delay: -1.8s;
}
.dna:nth-child(13) {
  animation-delay: -1.95s;
}
.dna:nth-child(14) {
  animation-delay: -2.1s;
}
.dna:nth-child(15) {
  animation-delay: -2.25s;
}
.dna:nth-child(16) {
  animation-delay: -2.3s;
}

section p {
    color: whitesmoke;
    font-size: 2rem;
    font-family: 'Oxanium', cursive;
    padding-left: 10%;
}

#zoneContact {
    display: flex;
}

aside p {
    margin: 2%;
}

aside a {
    text-decoration: none;
    color: whitesmoke;
}

aside a:hover {
    color: #00aaff;
    font-size: 2.1rem
}

.containerSquare {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 30px;
}

.frame {
	width: 200px;
	height: 200px;
	position: absolute;
	border-radius: 50px;
	border: 5px solid #00ffaa;
	box-shadow: 0 0 20px #00aaff, inset 0 0 40px #00aaff20, 0 0 60px #00ffaa,
		inset 0 0 60px #00ffaa;
	filter: brightness(2) contrast(2);
	animation: zooming 4s linear infinite alternate;
}

.frame:nth-child(1) {
	transform: rotate(40deg) translateY(0px) translateZ(0px);
	opacity: 1;
	animation-delay: -1s;
}

.frame:nth-child(2) {
	transform: rotate(40deg) translateY(50px) translateZ(-10px);
	opacity: 0.9;
	animation-delay: -1.3s;
}

.frame:nth-child(3) {
	transform: rotate(40deg) translateY(100px) translateZ(-20px);
	opacity: 0.85;
	animation-delay: -1.5s;
}

.frame:nth-child(4) {
	transform: rotate(40deg) translateY(150px) translateZ(-30px);
	opacity: 0.8;
	animation-delay: -1.7s;
}

.frame:nth-child(5) {
	transform: rotate(40deg) translateY(200px) translateZ(-40px);
	opacity: 0.75;
	animation-delay: -1.9s;
}

.frame:nth-child(6) {
	transform: rotate(40deg) translateY(250px) translateZ(-50px);
	opacity: 0.7;
	animation-delay: -2.1s;
}

.frame:nth-child(7) {
	transform: rotate(40deg) translateY(300px) translateZ(-60px);
	opacity: 0.65;
	animation-delay: -2.3s;
}

.frame:nth-child(8) {
	transform: rotate(40deg) translateY(350px) translateZ(-70px);
	opacity: 0.6;
	animation-delay: -2.5s;
}

.frame:nth-child(9) {
	transform: rotate(40deg) translateY(400px) translateZ(-80px);
	opacity: 0.5;
	animation-delay: -2.7s;
}

.frame:nth-child(10) {
	transform: rotate(40deg) translateY(450px) translateZ(-90px);
	opacity: 0.4;
	animation-delay: -2.9s;
}

.frame:nth-child(11) {
	transform: rotate(40deg) translateY(500px) translateZ(-100px);
	opacity: 0.3;
	animation-delay: -3.1s;
}

.frame:nth-child(12) {
	transform: rotate(40deg) translateY(550px) translateZ(-110px);
	opacity: 0.2;
	animation-delay: -3.3s;
}

.frame:nth-child(13) {
	transform: rotate(40deg) translateY(600px) translateZ(-120px);
	opacity: 0.1;
	animation-delay: -3.5s;
}

.frame:nth-child(14) {
	transform: rotate(40deg) translateY(650px) translateZ(-130px);
	opacity: 0.05;
	animation-delay: -3.7s;
}

@keyframes zooming {
	0% {
		transform: scale(0.2) rotate(40deg);
		opacity: 1;
	}
	
	100% {
		transform: scale(1) rotate(180deg);
		opacity: 0;
	}
}

footer {
    background-color: #060e15;
    text-align: center;
}

footer p {
    color: whitesmoke;
    font-family: 'Oxanium', cursive;
    font-size: 1.5rem;
    padding: 1%;
}